@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	user-select: none;
	margin: 0;
	padding: 0;
}
button{
    cursor: pointer;
    width: 100%;
    border: 0;
    background-color: transparent;
    &:focus{
        outline: none;
        border: none;
    }
}
.Squared {
	width: fit-content;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.87);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-color: transparent;
	border: 1px solid #ccc;
	position: relative;
	article {
		position: relative;
		border-radius: inherit;
		padding: 5px;
		div {
			border-radius: inherit;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background: rgba(127, 128, 128, 0.7);
			color: #fff;
			font-size: smaller;
			display: none;
			cursor: pointer;
		}
		img,
		svg {
			height: 100%!important;
			width: 100%!important;
			border-radius: inherit;
			object-fit: cover;
			border-radius: inherit;
		}
		input {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 99;
			top: 0;
			left: 0;
            border-radius: inherit;
            &:hover+div{
                display: flex;
            }
		}
    }
    footer{
        width: 100%;
        display: flex;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition-duration: 200ms;
        height: 0px;
        overflow: hidden;
    }
    &:hover{
        footer{
            height: 50px;
        }
    }
}

.backdrop {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	z-index: -1;
	position: fixed;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999999999999;
	-webkit-tap-highlight-color: transparent;
	transition-duration: 500ms;
	.cropperContainer {
		background-color: #000!important;
		h1 {
			margin: 0;
			padding: 0;
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			padding: 4%;
			text-align: center;
			display: none;
		}
		div {
			z-index: 9999999999999999999999999999999;
			height: 100%;
			&::-webkit-scrollbar {
				width: 0px!important;
			}
			&::-webkit-scrollbar-track {
				width: 0px!important;
			}
		}
		button {
			color: #fff;
            background-color: transparent!important;
            padding: 16px;
		}
		canvas {
			width: 100%!important;
			height: 100%!important;
		}
	}
}

@media screen and (max-width:786px) {
	.cropperContainer {
		padding: 5px;
		height: 100vh;
		.mountContainer {
			height: 85%;
			display: flex;
			align-items: center;
			div {
				height: fit-content;
			}
		}
		button {
			position: fixed;
			bottom: 0;
			padding: 3%;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 0;
		}
	}
}